<!DOCTYPE html>
<html>
    <head>
        <title>this is your event bitch </title>
        <meta charset="utf-8">
    </head>
    <body>
        <section id="eventfront">
            <div id="wrapper">
                <div id="left">
                    <div>
                        <img id="evt_header" src="" alt="event header image">
                    </div>
                    <div>
                        <h1 id="evt_title"><%= @event.name %></h1>
                    </div>
                    <div id="info">
                        <div class="infobox">
                            <p id="evt_host">Hosted by: <%= @host.name %></p>
                            <p id="evt_start"> <%= @event.start %> </p>
                        </div>
                        <div class="infobox">
                            <p id="evt_loc"> <%= @event.location  %></p>
                            <p id="evt_end"> <%= @event.end %></p>
                        </div>
                    </div>
                    <div>
                        <p id="evt_desc"> <%= @event.description %></p>
                    </div>
                </div>
                <div id="right">
                    <% if session[:event_id] == @event.id%>
                      <p> <%= button_to("muggle mode", "/events/#{@event.id}/login", method: :delete) %> </p>
                    <% else %>
                      <%= form_with(url: "/events/#{@event.id}/login", method: :post, id: "editaccess") do |form| %>
                        <%= form.label("editaccess", "become a wizard, harry") %>
                        <%= form.password_field("editauth") %>
                        <%= form.hidden_field("event_id", value: @event.id) %>
                        <%= form.submit 'yes' %>
                      <% end %>
                    <% end %>
                    <br>
                    <% if @attendee %>

                    <p><b>RSVP here, <%= @attendee.name %>!</b></p>
                      <%= form_with(url: "/events/#{@event.id}/attendees/#{@attendee.id}", method: :patch, id: "rsvp") do |form| %>
                        <%= form.radio_button :rsvp, 'going' %>
                        <%= form.label :going, "i'm going!" %>
                        <%= form.radio_button :rsvp, 'maybe' %>
                        <%= form.label :maybe, "i'm not sure..." %>
                        <%= form.radio_button :rsvp, 'not_going' %>
                        <%= form.label :not_going, "i can't go :(" %>
                        <%= form.submit 'Submit' %>
                      <% end %>
                    <br>
                      <% @attendees.each do |attendee| %>
                      <%=   "#{attendee.name}: #{attendee.rsvp}" %>
                      <br>
                      <% end %>
                    <br>
                      <% @attendee.rooms.distinct.each do |room| %>
                        <div class="chat" id="chats" data-channel-subscribe="room" data-room-id="<%= room.id %>">
                          <p>Room: <%= room.name %></p>
                          <% room.chats.each do |chat| %>
                            <div class="message-content">
                              <%= "#{chat.attendee.name}: #{chat.message}" %>
                            </div>
                          <% end %>
                        </div>
                        <%= form_with(url: "/events/#{@event.id}/attendees/#{@attendee.id}/rooms/#{room.id}/chats", method: :post, id: "message") do |form| %>
                          <%= form.text_field :message %>
                          <%= form.submit 'Submit' %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <div class="invite-link">
                    <% if session[:event_id] == @event.id %>
                    <p> <%= link_to("invite yur m8s", "/events/#{@event.id}/attendees/new") %> </p>
                    <p> <%= button_to("logout", "/events/#{@event.id}/login", method: :delete) %> </p>
                    <% end %>
                    <% if @attendee %>
                    <% end %>
                    </div>
                </div>
            </div>

        </section>

    </body>




</html>
