<!DOCTYPE html>
<html>
    <head>
        <title>this is your event bitch </title>
        <meta charset="utf-8">
    </head>
    <body>
        <section id="eventfront">
            <div id="wrapper">
                <div id="left">
                    <div>
                        <img id="evt_header" src="" alt="event header image">
                    </div>
                    <div>
                        <h1 id="evt_title"><%= @event.name %></h1>
                    </div>
                    <div id="info">
                        <div class="infobox">
                            <p id="evt_host">Hosted by: <%= @host.name %></p>
                            <p id="evt_start"> <%= @event.start %> </p>
                        </div>
                        <div class="infobox">
                            <p id="evt_loc"> <%= @event.location  %></p>
                            <p id="evt_end"> <%= @event.end %></p>
                        </div>
                    </div>
                    <div>
                        <p id="evt_desc"> <%= @event.description %></p>
                    </div>
                </div>
                <div id="right">
                    <form action="/events/<%="#{@event.id}"%>/login" method="POST" id="editaccess">
                        <label for="editauth">edit the event?</label>
                        <input type="password" id="editauth" name="editauth" size=20>
                        <input type="hidden" id="event_id" name="event_id" value=<%="#{@event.id}"%>
                        <!-- validate the password on submit, right? -->
                        <input type="submit" value="edit!">
                    </form>
                    <br>
                    <% if @attendee %>

                    <p><b>RSVP here, <%= @attendee.name %>!</b></p>
                    <!-- <form action="/events/#{@event.id}/attendees/#{@attendee.id}" method="PATCH" id="rsvp">
                        <div>
                            <input type="radio" id="going" name="rsvp-buttons" value="going">
                            <label for="going">i'm going!</label>
                        </div>
                        <div>
                            <input type="radio" id="maybe" name="rsvp-buttons" value="maybe">
                            <label for="maybe">i'm not sure...</label>
                        </div>
                        <div>
                            <input type="radio" id="not-going" name="rsvp-buttons" value="not-going">
                            <label for="not_going">i can't go :(</label>
                        </div>
                        <input type="submit" value="rsvp! oh my god this is wider than i thought i'll fix that later">
                    </form> -->
                      <%= form_with(url: "/events/#{@event.id}/attendees/#{@attendee.id}", method: :patch, id: "rsvp") do |form| %>
                        <%= form.radio_button :rsvp, 'going' %>
                        <%= form.label :going, "i'm going!" %>
                        <%= form.radio_button :rsvp, 'maybe' %>
                        <%= form.label :maybe, "i'm not sure..." %>
                        <%= form.radio_button :rsvp, 'not_going' %>
                        <%= form.label :not_going, "i can't go :(" %>
                        <%= form.submit 'Submit' %>
                      <% end %>
                    <% end %>
                    <br>
                      <% @attendees.each do |attendee| %>
                      <%=   "#{attendee.name}: #{attendee.rsvp}" %>
                      <% end %>

                    <br>
                    <p>comments section/discord chat over here?</p>
                    <% if session[:event_id] == @event.id %>
                    <p> <%= "you are logged in"  %> </p>
                    <% end %>
                </div>
            </div>
        </section>
    </body>
</html>
